//header
%ancor{
    color: $colorText;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
}

%redes{
    text-decoration: none;
    margin: 14px 4px;
    padding: 10px 3px;
    img:hover{
        transform: scaleX(1.1);
    }
}

//footer
%texto{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1.1rem;
    margin-top: 20px;
    color: $colorText;
}

%h5{
    margin-top: 20px;
    font-family: 'Walter Turncoat', cursive;
    font-size: 16px;
    text-align: right;
    color: blanchedalmond;
    background-color: black;
}
