@import "../utilities/variables";
.body{
    background-color: $colorBg;
}
//main
.carousel-item{
    img{
        width: 240px;
    }
}
.container{
    height: 900px;
    display: grid;
    grid-template-columns: 700px 370px;
    grid-template-rows: repeat(380px) ;
    grid-template-areas: 
    "encabezado tutorial"
    "cuerpo carrusel"
    ;
    h2{
        font-family: $letra;
        font-weight: 500;
        font-size: 40px;
        word-spacing: 1px;
        color: claro;
    }
    h3{
        font-family: $letra;
        font-weight: 500;
        color: black;
    }
    p{
        font-family: $letra;
        font-weight: 300;
        color: $colorText;
        font-size: 20px;
        b{
            color: black;
        }
        i{
            color: black;
            background-color: $colorText;
        }
    }
    span{
        font-family: $letra;
        font-weight: 500;
        color: $colorText;
        font-size: 28px;
    }
    li{
        font-family: $letra;
        font-weight: 500;
        font-size: 20px;
        color: claro;
    }
    .encabezado{
        grid-area: "encaezado";
    }
    .cuerpo{
        grid-area: "cuerpo";
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0px 15px;
    }
    .tutorial{
        grid-area: "tutorial";
    }
    .carrusel{
        height: 450px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    @include movil{
        display: flex;
        flex-direction: column;
        height: auto;
        .encabezado{
            display: none;
        }
        .cuerpo{
            display: none;
        }
        .carrusel{
            display: none;
        }
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        height: auto;
        .encabezado{
            display: none;
        }
        .carrusel{
            display: none;
        }
    }
}
.b2{
    color: $colorText;
    font-family: $letra;
    font-weight: 500;
}
.subTitulo{
    text-align: justify;
    color: black;
    font-family: $letra;
    font-weight: 500;
    font-size: 28px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.b3{
    color: $claro;
    font-size: 30px;
}