@import "../utilities/variables";

.body{
    background-color: $colorBg;
}
//main
.precios{
    display: grid;
    grid-template-columns: 5fr 5fr;
    place-items: center;
    height: 650px;
    &__hijo{
        text-align: center;
        color: #F5EEF8;
        font-size: 22px;
        font-family: sans-serif;
        border: 2px solid $color1;
        height: 300px;
        width: 350px;
        h2{
            font-size: 28px;
            font-family: $letra;
            text-align: center;
            text-align: center;
            color: $colorText;
            @include movil{
                font-size: 22px;
            }
            @include tablet{
                font-size: 22px;
            }
        }
        li{
            list-style: none;
            font-size: 22px;
            font-family: $letra;
            font-weight: 300;
            @include movil{
                font-size: 18px;
            }
            @include tablet{
                font-size: 18px;
            }
        }
        @include movil{
            font-size: 18px;
            height: auto;
            width: 300px;
            margin-bottom: 25px;
        }
        @include tablet{
            font-size: 18px;
            height: auto;
            width: 300px;
            margin-bottom: 25px;
        }
    }
    @include movil{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 30px;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 30px;
    }
}
