@import "../utilities/variables";
.body{
    background-color: $colorBg;
}
//main
h1{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;
    text-transform: uppercase;
    color: $claro;
    font-size: 40px;
    font-family: $letra;
}
.cartilla{
    display: grid;
    grid-template-columns: 23% 23% 23%;
    grid-template-rows: repeat(2fr);
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
    img{
        height: 150px;
    }
    &__prod{
        background-color: white;
        border: 1px solid white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        img{
            margin-top: 15px;
        }
        b{
            margin: 10px 0px;
            color: black;
            font-family: $letra;
            text-align: center;
            font-weight: 500;
            font-size: 24px;
        }
        p{
            color: black;
            font-size: 17px;
            font-family: $letra;
            text-align: center;
            font-weight: 300;
        }
        button{
            margin-bottom: 15px;
            font-size: 20px;
            background-color: #5f5aac;
            border: 2px solid #5f5aac;
        }
        @include movil{
            width: 300px;
        }
        @include tablet{
            width: 350px;
        }
    }
    @include movil{
        display: flex;
        flex-direction: column;
    }
    @include tablet{
        display: flex;
        flex-direction: column;
    }
    @include laptop{
        display: grid;
        grid-template-columns: 30% 30%;
        grid-template-rows: repeat(2fr);
        grid-column-gap: 45px;
        grid-row-gap: 40px;
    }
}
.cartilla__prod:hover{
    cursor: pointer;
    transform: translate(4px);
}