@import "../utilities/variables";
.body{
    background-color: $colorBg;
}
//main
.avisos{
    font-family: $letra;
    font-weight: 300;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        color: $colorText;
        border: 3px solid $color1;
        height: 120px;
        width: 220px;
        margin-left: 10px;
        margin-right: 10px;
        p{
            font-family: $letra;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
        }
    }
    @include movil{
        display: none;
    }
    @include tablet{
        display: none;
    }
}

.productos{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    h3{
        font-family: $letra;
        font-weight: 500;
        margin: 10px 10px;
        padding: 8px;
        font-size: 30px;
        word-spacing: 1px;
        text-transform: uppercase;
        color: $colorText;
        text-align: justify;
    }
    img{
        width: 280px;
        height: 320px;
        margin: 5px 8px;
        padding: 8px;
        @include movil{
            width: 260px;
            margin-left: 30px;
        }
        @include tablet{
            margin-left: 75px;
        }
        @include laptop{
            margin-left: 40px;
        }
    }
    img:hover{
        transform: scaleX(1.1);
    }
    @include movil{
        height: auto;
    }
    @include tablet{
        height: auto;
    }
    @include laptop{
        height: auto;
    }
}