@import "../utilities/variables";
.body{
    background-color: $colorBg;
}
//main
.contenedorServicios{
    display: grid;
    grid-template-columns: 695px 695px ;
    grid-template-rows: repeat(3, 8fr);
    row-gap: 80px;
    div{
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: unset;
        height: 372px;
        width: 650px;
        text-align: center;
        .trabajos{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 260px;
            margin-left: 30px;
            h3{
                font-family: $letra;
                font-weight: 500;
                font-size: 22px;
                text-align: center;
                margin: 8px;
                color: $claro;
            }
            p{
                font-family: $letra;
                font-weight: 300;
                font-size: 16px;
                color: $colorText;
                @include tablet{
                    text-align: center;
                }
            }
            div{
                img{
                    height:370px ;
                    width: 420px;
                }
            }
            
        }
        @include movil{
            width: auto;
            align-items: center;
            height: 120px;
        }
        @include tablet{
            width: auto;
            align-items: center;
            height: 120px;
        }
    }
    @include movil{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
        img{
            display: none;
        }
    }
    @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        width: auto;
        img{
            display: none;
        }
    }
    @include laptop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
h2{
    text-align: center;
    padding: 10px 10px;
    margin: 20px;
}
.listaPrecios{
    a{
        text-decoration: none;
        margin-right: 100px;
        font-size: 25px;

        h3{
            font-family: $letra;
            font-weight: 300;
            text-align: end;
            margin: 30px 30px;
            color: #f8f9f8;
        }
    }
}
