@import "../utilities/variables";
@import "../utilities/mixin";

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.body{
    background-color: $colorBg;
}
//main
h2{
    color: $claro;
    font-size: 40px;
    font-family: $letra;
    font-weight: 300;
    text-transform: uppercase;
}
.sucursales{
    h2{
        font-family: $letra;
        font-weight: 100;
        text-align: left;
        padding: 10px;
        margin: 20px;
        font-size: 30px;
        word-spacing: 1px;
        text-transform: uppercase;
    }
    div{
        display: grid;
        padding: 10px 10px;
        grid-template-columns: repeat(4, 4fr);
        place-items: center;
        .sucursales__local{
            background-color: $claro;
            border: solid 1px $color1;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            justify-content:space-between;
            justify-items: center;
            align-items: center;
            h3{
                font-family: $letra;
                font-weight: 500;
                text-align: start;
                font-size: 20px;
                word-spacing: 1px;
                padding: 5px 8px;
            }
            p{
                font-family: $letra;
                font-weight: 300;
                margin-top: 20px;
                text-align: center;
                font-size: 22px;
                padding: 10px;
                word-spacing: 1px;
                color: black;
            }
            img{
                margin-top: 10px;
                height: 350px;
                width: 250px;
            }
            @include movil{
                padding: 1rem;
                margin-bottom: 10px;
            }
            @include tablet{
                padding: 1rem;
                margin-bottom: 20px;
            }
            @include laptop{
                padding: 1rem;
                margin-bottom: 40px;
                margin-left: 100px;
            }
        }
        @include movil{
            display: flex;
            flex-direction: column;
        }
        @include tablet{
            display: flex;
            flex-direction: column;
        }
        @include laptop{
            display: grid;
            grid-template-columns: 4fr 4fr;
        }
    }
}
.formulario{
    height: 350px;
    padding: 6px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    label{
        margin-left: 35px;
        font-family: $letra;
        font-weight: 500;
    }
    fieldset{
        legend{
            margin-top: 10px;
            margin-left: 25px;
        }
        color: $colorText;
        font-size: 20px;
        height: 340px;
        border: 2px solid $color1;
        @include movil{
            height: 420px;
            width: 300px;
        }
        @include tablet{
            height: 420px;
            width: 300px;
        }
    }

    &__div{
        margin: 10px;
        height: 45px;
        text-align: center;
        @include movil{
            height: auto;
        }
        @include tablet{
            height: auto;
        }
    }
    &__div1{
        margin: 10px;
        height: 45px;
        text-align: center;
        @include movil{
            display: none;
        }
        @include tablet{
            display: none;
        }

    }
    &__div2{
        margin: 10px;
        height: 45px;
        text-align: center;
        @include movil{
            margin-top: 15px;
            height: auto;
        }
        @include tablet{
            margin-top: 15px;
            height: auto;
        }
    }
    @include movil{
        height: auto;
    }
    @include tablet{
        height: auto;
    }
}
.botones{
    text-align: center;
    height: 35px;
    margin: 10px;
    padding: 3px 8px;
}
.listaPrecios{
    margin-right: 60px;
    margin-top: 50px;
    a{
        text-decoration: none;
        margin-right: 100px;
        font-size: 25px;

        h3{
            font-family: $letra;
            font-weight: 100;
            text-align: end;
            color: $claro;
        }
        h3:hover{
            color: $color1;
        }
    }
    @include movil{
        margin-right: 0px;
        margin-top: 25px;
    }
    @include tablet{
        margin-right: 0px;
        margin-top: 25px;
    }
    @include laptop{
        margin-right: 0px;
        margin-top: 0px;
    }
}
.inputTurnos{
    height: 25px;
    width: 200px;
    font-size: 17px;
    color: $color1;
}
.horarios{
    height: 350px;
    display: grid;
    padding: 35px 18px;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    div{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        justify-content: space-around;
        border: 2px solid $colorText;
        height: 270px;
        width: 370px;
        h3{
            font-family: $letra;
            font-weight: 500;
            color: black;
            font-size: 30px;
            text-align: justify;
            text-transform: uppercase; 
        }
        li{
            text-align: center;
            font-family: $letra;
            font-weight: 300;
            list-style-position: inside;
            font-size: 25px;
            padding: 4px;
            color: $colorText;
        }
    }
    @include movil{
        display: none;
    }
    @include tablet{
        display: none;
    }
    @include laptop{
        padding: 0px;
    }
}
.domingo{
    font-family: $letra;
    font-weight: 500;
    color: $colorText;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 20px;
    @include movil{
        display: none;
    }
    @include tablet{
        display: none;
    }
}
.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton1{
    margin: 8px;
    height: 36px;
    width: 150px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid whitesmoke;
}
.boton2{
    margin: 8px;
    height: 36px;
    width: 150px;
    text-align: center;
    margin-top: 6px;
    border: 1px solid whitesmoke;
}