@import "../utilities/variables";
@import "../utilities/mixin";

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
.body{
    background-color: $colorBg;
}
//main
h2{
    color: $claro;
    font-size: 40px;
    font-family: $letra;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.mainTurnos{
    margin-top: 80px;
}
.sucursales{
    h2{
        font-family: $letra;
        font-weight: 100;
        text-align: center;
        padding: 10px;
        margin: 20px;
        font-size: 30px;
        word-spacing: 1px;
        text-transform: uppercase;
    }
    div{
        display: grid;
        padding: 10px 10px;
        grid-template-columns: repeat(4, 4fr);
        justify-content: space-evenly;
        .sucursales__local{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            margin-right: 4px;
            justify-content:space-between;
            justify-items: center;
            align-items: center;
            h3{
                font-family: $letra;
                font-weight: 500;
                text-align: start;
                font-size: 30px;
                word-spacing: 1px;
                padding: 5px 8px;
                color: black;
                @include movil{
                    font-size: 26px;
                }
                @include tablet{
                    font-size: 27px;
                }
                @include laptop{
                    font-size: 28px;
                }
            }
            p{
                font-family: $letra;
                font-weight: 500;
                margin-top: 20px;
                text-align: center;
                font-size: 27px;
                word-spacing: 1px;
                color: black;
                background-color: $claro;
                padding: 4px 4px;
                @include movil{
                    font-size: 24px;
                }
                @include tablet{
                    font-size: 26px;
                }
                @include laptop{
                    font-size: 26px;
                }
            }
            img{
                margin-top: 10px;
                height: 480px;
                width: 280px;
            }
            img:hover{
                transform: scaleY(1px);
            }
            @include movil{
                padding: 1rem;
                margin-bottom: 10px;
            }
            @include tablet{
                padding: 1rem;
                margin-bottom: 20px;
            }
            @include laptop{
                padding: 1rem;
                margin-bottom: 40px;
                margin-left: 0px;
            }
        }
        @include movil{
            display: flex;
            flex-direction: column;
        }
        @include tablet{
            display: flex;
            flex-direction: column;
        }
        @include laptop{
            display: grid;
            grid-template-columns: 30% 30%;
        }
    }
}

.listaPrecios{
    margin-top: 60px;
    display: flex;
    justify-content: left;
    a{
        text-decoration: none;
        margin-right: 100px;
        font-size: 25px;

        h3{
            font-family: $letra;
            font-weight: 100;
            text-align: end;
            color: $claro;
        }
        h3:hover{
            color: $color1;
        }
    }
    @include movil{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-left: 110px;
    }
    @include tablet{
        margin-left: 130px;
        margin-top: 40px;
    }
    @include laptop{
        margin-left: 110px;
        margin-top: 4px;
    }
}
.formTurnos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    margin-left: 25%;
    &__div1{
        display: flex;
        margin-bottom: 20px;
        input{
            text-align: center;
            height: 55px;
        }
    }
    &__div2{
        margin-bottom: 20px;
        input{
            text-align: center;
            height: 55px;
        }
        
    }
    &__div3{
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 671px;
        select{
            text-align: center;
            height: 55px;
        }
        @include movil{
            width: auto;
        }
        @include tablet{
            display: none;
        }
        @include laptop{
            width: 512px;
        }
    }
    &__div4{
        margin-bottom: 20px;
        textarea{
            text-align: center;
            height: 120px;
        }
    }
    &__div5{
        margin-bottom: 20px;
        input{
            text-align: center;
            height: 55px;
        }
    }
    &__div6{
        display: flex;
        margin-top: 20px;
    }
    .boton{
        background-color: $colorText;
        border: 2px solid $colorText;
        color: black;
    }
    @include movil{
        margin: 40px 10px;
    }
    @include tablet{
        margin: auto;
    }
}
.sectionMainTurnos{
    display: flex;
    justify-content: space-between;
    background-image: url(../../img/arcoiris.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 60px;
    &__div1{
        height: 480px;
        width: 880px;
        margin-top: 35px;
        .img1{
            height: 540px;
            margin-right: 60px;
            margin-left: 40px;
            box-shadow: 5px 5px 5px black;
            opacity: 0.9;
        }
        .img2{
            height: 480px;
            box-shadow: 4px 4px 4px grey;
            @include laptop{
                display: none;
            }
        }
        margin-right: 200px;
        margin-left: 60px;
    }
    @include movil{
        display: none;
    }
    @include tablet{
        display: none;
    }
}
.horarioNuevo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    text-align: center;
    height: 600px;
    width: 250px;
    margin-right: 2px;
    background-color: black;
    opacity: 0.7;
    div{
        color: blanchedalmond;
        h3{
            text-align: justify;
            margin-left: 20px;
            @include laptop{
                font-size: 20px;
                margin: 8px 8px;
            }
        }
        ul{
            list-style: none;
            li{
                margin: 8px 0px;
            }
        }
    }
    h4{
        color: blanchedalmond;
        @include laptop{
            font-size: 22px;
            margin: 8px 8px;
        }
    }
}